/* Global styles */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  color: #2a6496;
  text-decoration: underline;
}

/* Navbar */
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover::before {
  background-color: #82e3ea;
}

/* Introduction Section */
.intro-section {
  padding: 100px 0;
  background-color: #fff;
}

.intro-section h1 {

  font-size: 4.5rem;
  margin-bottom: 30px;
}

.intro-section p {
  font-size: 1.3rem;
  margin-bottom: 60px;
}

.intro-section ul {
  list-style: none;
  margin-bottom: 60px;
  padding: 0;
}

.intro-section ul li {
  margin-bottom: 20px;
}

.intro-section ul li strong {
  font-weight: bold;
  margin-right: 10px;
}

.intro-img img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out;
}

.intro-img img:hover {
  transform: scale(1.05);
}

.btn-learn-more {
  background-color: #4b5d70;
  border-color: #ffffff;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-learn-more:hover {
  background-color: #4bcfb7;
  border-color: #ffffff;
}

/* About section */
.about-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.about-section h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #333;
  margin-bottom: 60px;
}

.about-section hr {
  border-color: #333;
  margin: 50px auto;
}

.about-section h3 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 30px;
  font-style: italic;
}

.about-section p {
  font-size: 16px;
  line-height: 1.8;
  color: #666;
  margin-bottom: 30px;
}

.about-section hr {
  text-align: center;
  width: 1100px;
  height: 10px
}


.about-section ul {
  list-style: disc;
  margin: 1.5em 0;
  padding-left: 3em;
}

.about-section li {
  font-size: 17px;
  font-weight: 400;
  margin: 0.5em 0;
}



/* Chat Indicates the message list style of the chat room*/
#chat-messages {
  list-style: none;
  margin: 0;
  padding: 10px;
  overflow: scroll;
  height: auto;
  display: flex;
  flex-direction: column;
}

#chat-messages li {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: transparent;
}

#chat-messages li.system {
  background-color: #ddd;
}

/* Chat room form style */

#chat-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#chat-input {
  flex-grow: 1;
  margin-right: 10px;
}

#chat-submit {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#chat-submit:hover {
  background-color: #0069d9;
}


/* Add this CSS to center and enlarge the chat container */
.chat-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #ccc;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 2px transparent #ccc;
  border-radius: 25px;
}

.chat-header h1 {
  font-size: 2rem;
  color: #333;
}

.chat-header .btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #a09090;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.chat-header .btn:hover {
  background-color: #8ddfdf;
}

#user-list {
  margin-left: 800px;
}

.chat-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  height: calc(100% - 70px);
  padding: 1rem;
  background-color: #fff;
  border: 2px solid #ccc;
}

.chat-sidebar {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  text-align: center;
  order: -1;
  padding: 5px;
  background: #aaecaa;
  border-right: 1px solid #ccc;
  border-radius: 25px;
}

.chat-sidebar h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  color: #333;
  margin-bottom: 10px;
  font-style: italic;
}

.chat-form-container button.btn {
  background-color: #33cc99;
  color: #fff;
}


.chat-box {
  width: 100%;
  height: 600px;
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  background-color: #b5a9a9;
  margin-top: 20px;
  padding: 20px;
  overflow: auto;
}

/* Define the scroll bar track */
.chat-box::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Definition slider */
.chat-box::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}


/* Adjust the input box sample式 */
#msg {
  flex: 10;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #333;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  margin-right: 15px;
}

#msg:focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
}

#name {
  flex: 1;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #333;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  margin-right: 20px;
}


#name:focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
}


/* Adjust the message send button style */
#send {
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#send:hover {
  background-color: #444;
}

.message {
  background-color: #f1f0f0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Footer Section */
footer {
  position: static;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.footer-section {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.footer-section p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #777;
}